<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex xs12 class="main-tool-heading mt-0">
                <h2 class="feature-heading">{{Parenttools}} - Branding</h2>
            </v-flex>
            <v-flex v-for="(tools,index) in toolsData[Parenttools]" :key="index" md4 class="listed-tools">
                <v-btn flat depressed title="Click To Download" download :href="tools.toolPdf">
                    <img :src="tools.toolName" />
                    <p>{{tools.toolDisc}}</p>
                    <span class="white--text">Download Now</span>
                </v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</template>


<script>

    import toolsData from '../config/branding.json';
    export default {
        name: 'toolDetails',
        props: {
            Parenttools: {
                type: Number,
                required: true,
            }
        },
        data() {
            return {
                'toolsData': toolsData
            }
        }
    }
</script>