<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex xs12>
                <v-card>
                    <v-card-title>
                        <h2>Active Subscriptions</h2>
                    </v-card-title>
                    <v-layout row wrap pa-2>
                        <v-flex v-for="(active,index) in activeSubscriptions" :key="index" xs3>
                            <v-card dark color="secondary">
                                <v-card-text class="px-0">
                                    <v-avatar size="32px" class="mr-2">
                                        <img :src="active.seal" :alt="active.courseName">
                                    </v-avatar>
                                    <span>{{active.courseName}}</span>
                                    <v-btn color="orange" depressed  @click.stop="showModalDetails(index)">View Detail</v-btn>
                                </v-card-text>
                            </v-card>
                        </v-flex>
                        <v-dialog v-model="dialog" width="750">
                            <v-card v-for="(course,index,value) in activeCourses" :key="index">
                                <v-card-title
                                        class="headline grey lighten-2"
                                        primary-title
                                >
                                   {{ course.courseName}}
                                </v-card-title>
                                <!--<ul>-->
                                    <!--<li v-for="(item, key, valIn) in course.phase">-->
                                        <!--{{ item.phase1 }} - {{ key }}-->
                                    <!--</li>-->
                                <!--</ul>-->

                                <v-card-text>
                                    <v-layout row wrap>
                                        <v-flex v-for="(item,index1) in course.phase" :key="index1" xs3>
                                            <h4 class="mb-2">Phase{{index1+1}}:</h4>
                                            <div class="listed-phase">
                                                <v-card flat>
                                                    <v-card-text class="px-0">
                                                        Phase {{index1+1}}.1 : Score {{ item.phase1+' %' }}
                                                    </v-card-text>
                                                </v-card>
                                                <v-card flat>
                                                    <v-card-text class="px-0">
                                                        Phase {{index1+1}}.2: Score {{ item.phase2+' %' }}
                                                    </v-card-text>
                                                </v-card>
                                                <v-card flat>
                                                    <v-card-text class="px-0">
                                                        Phase {{index1+1}}.3 : Score {{ item.phase3+' %' }}
                                                    </v-card-text>
                                                </v-card>
                                                <v-card flat>
                                                    <v-card-text class="px-0">
                                                        Phase {{index1+1}}.4 : Score {{ item.phase4+' %' }}
                                                    </v-card-text>
                                                </v-card>
                                            </div>
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>

                                <v-divider></v-divider>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                            color="primary"
                                            flat
                                            @click="dialog = false"
                                    >
                                        Close
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-layout>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data(){
            return{
                num: 0,
                dialog: false,
                activeSubscriptions : [
                    {
                        courseName: 'Broker Edition',
                        seal: '../../public/images/broker-seal.png',
                        phase: [
                            {
                                phase1: '10',
                                phase2: '20',
                                phase3: '30',
                                phase4: '40',
                            }, {
                                phase1: '50',
                                phase2: '60',
                                phase3: '70',
                                phase4: '80',
                            }, {
                                phase1: '90',
                                phase2: '10',
                                phase3: '20',
                                phase4: '30',
                            }, {
                                phase1: '40',
                                phase2: '50',
                                phase3: '60',
                                phase4: '70',
                            },

                        ],
                        modal:true
                    },
                    {
                        courseName: 'Developer Edition',
                        seal: '../../public/images/developer-seal.png',
                        phase: [
                            {
                                phase1: '10',
                                phase2: '20',
                                phase3: '30',
                                phase4: '40',
                            }, {
                                phase1: '50',
                                phase2: '60',
                                phase3: '70',
                                phase4: '80',
                            }, {
                                phase1: '90',
                                phase2: '10',
                                phase3: '20',
                                phase4: '30',
                            }, {
                                phase1: '40',
                                phase2: '50',
                                phase3: '60',
                                phase4: '70',
                            },

                        ],
                        modal:false
                    },
                    {
                        courseName: 'Investor Edition',
                        seal: '../../public/images/investor-seal.png',
                        phase: [
                            {
                                phase1: '10',
                                phase2: '20',
                                phase3: '30',
                                phase4: '40',
                            }, {
                                phase1: '50',
                                phase2: '60',
                                phase3: '70',
                                phase4: '80',
                            }, {
                                phase1: '90',
                                phase2: '10',
                                phase3: '20',
                                phase4: '30',
                            }, {
                                phase1: '40',
                                phase2: '50',
                                phase3: '60',
                                phase4: '70',
                            },

                        ],
                        modal:false
                    },
                    {
                        courseName: 'AREA',
                        seal: '../../public/images/broker-seal.png',
                        phase: [
                            {
                                phase1: '10',
                                phase2: '20',
                                phase3: '30',
                                phase4: '40',
                            }, {
                                phase1: '50',
                                phase2: '60',
                                phase3: '70',
                                phase4: '80',
                            }, {
                                phase1: '90',
                                phase2: '10',
                                phase3: '20',
                                phase4: '30',
                            }, {
                                phase1: '40',
                                phase2: '50',
                                phase3: '60',
                                phase4: '70',
                            },

                        ],
                        modal:false
                    },
                    {
                        courseName: 'CAREMA',
                        seal: '../../public/images/developer-seal.png',
                        phase: [
                            {
                                phase1: '10',
                                phase2: '20',
                                phase3: '30',
                                phase4: '40',
                            }, {
                                phase1: '50',
                                phase2: '60',
                                phase3: '70',
                                phase4: '80',
                            }, {
                                phase1: '90',
                                phase2: '10',
                                phase3: '20',
                                phase4: '30',
                            }, {
                                phase1: '40',
                                phase2: '50',
                                phase3: '60',
                                phase4: '70',
                            },

                        ],
                        modal:false
                    },
                    {
                        courseName: 'CSS',
                        seal: '../../public/images/investor-seal.png',
                        phase: [
                            {
                                phase1: '10',
                                phase2: '20',
                                phase3: '30',
                                phase4: '40',
                            }, {
                                phase1: '50',
                                phase2: '60',
                                phase3: '70',
                                phase4: '80',
                            }, {
                                phase1: '90',
                                phase2: '10',
                                phase3: '20',
                                phase4: '30',
                            }, {
                                phase1: '40',
                                phase2: '50',
                                phase3: '60',
                                phase4: '70',
                            },

                        ],
                        modal:false
                    }
                ]
            }
        },
        methods : {
            showModalDetails : function(index){
                for (var i = 0; i < this.activeSubscriptions.length; i++) {
                    this.activeSubscriptions[i].modal = false;
                }
                this.activeSubscriptions[index].modal = true;
                this.dialog = true;
            }

        },
        computed : {
            activeCourses: function(){
                return this.activeSubscriptions.filter(function(d){
                    return d.modal;
                });
            }
        },

    }

</script>