<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex xs12 class="main-top-heading">
                <h2 class="feature-heading">Broker Edition - Presentation PPT</h2>
            </v-flex>
            <v-flex sm6 class="tools-ppt">
                <img src="../../images/buyers-presentation.png" alt="Buyers Presentation">
                <v-btn color="primary" href="../../pdf/buyers-presentation.pptx" download>Download PPT</v-btn>
            </v-flex>
            <v-flex sm6 class="tools-ppt">
                <img src="../../images/listing-presentation.png" alt="Listing Presentation">
                <v-btn color="primary" href="../../pdf/listing-presentation.pptx" download>Download PPT</v-btn>
            </v-flex>

            <tools-details :Parenttools="targetTools"></tools-details>

        </v-layout>
    </v-container>
</template>


<script>
    import toolsDetail from '../components/toolsDetail';
    export default {
        data() {
            return {
                targetTools: 0
            }
        },
        components: {
            'tools-details': toolsDetail
        },
        mounted: function(){
            this.targetTools = parseInt(this.$route.params.p);
        },
        watch: {
            $route() {
                this.targetTools = parseInt(this.$route.params.p);
            }
        }
    }
</script>