
// Body
$body-bg: #f5f8fa;
$primary-color: #1464bf;
$primary-hover:#0b4990;
// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$mobile-width:767;
$tablet-width: 768px;
$desktop-width: 1024px;
$thunder-width:1200;
